:root {
    --primary-color: #12347e;
    --secondary-color: #0f285f;
    --text-color: #1f2937;
    --light-text: #f3f4f6;
    --background: #0f172a;
    --card-bg: rgba(255, 255, 255, 0.95);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}